.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
}

.header {
  min-width: 350px;
  padding: 10px;
  margin: 10px;
  border: 1px solid white;
  border-radius: 12px;
}

.headerTime {
  font-size: 1.2em;
  color: white;
}

.headerTime__weekNumber {
  padding: 0 10px;
}

.headerTime__date {
  text-transform: capitalize;
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.calendar__day {
  padding: 0 25px;
  line-height: 0.6;
  color: grey;
}

.calendar__day:hover {
  color: white;
  cursor: pointer;
}